body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0px auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625em;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  color: #66bfbf;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  text-decoration: none;
  margin: 15px;
}

a:hover {
  color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  border-color: #a0a0a0;
  border-width: 5px;
  width: 4%;
  margin: 80px auto 80px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.init-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
}

.profile {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.person-icon {
  margin-top: 50px;
  width: 220px;
  border-radius: 200px;
  border: 3px solid;
}

.cat-icon {
  width: 25%;
  border-radius: 200px;
  float: left;
  margin-right: 30px;
}

.computer-icon {
  width: 25%;
  border-radius: 200px;
  float: right;
  margin-left: 30px;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.contact-me {
  width: 50%;
  margin: 100px auto 100px auto;
}

.text-contact {
  margin: 40px 0 50px 0;
}

.btn {
  border-radius: 8px;
  background-image: linear-gradient(#11cdd4, #11999e);
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.btn:hover {
  border-radius: 8px;
  background-image: linear-gradient(#30e3cb, #2bc4ad);
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.footer-link {

}

.footer-link:hover {
  text-decoration: none;
  margin: 15px;

}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0px 20px;
}

.brand-info {
  color: #EAF6F6;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
  padding: 20px 0px;
}